/*------------  Importing varous fonts from google  ------------*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Caramel&family=Luxurious+Roman&family=Merienda&family=Playfair+Display+SC&display=swap");

:root {
  --heavyblue: #2e3047;
  --mediumblue: #3c3f58;
  --lightblue: #707793;
  --mint: #3bba9c;
  --gold: #ffd700;
  --main: #43455c;
}

/*------------  Basic Styling and Layout  ------------*/
html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  color: white;
  background-color: var(--mediumblue);
  font-family: "Quicksand", sans-serif;
  height: 100%;
  overflow-y: scroll;
}

main {
  transition: padding-left 0.5s;
  padding: 16px;
  justify-content: center;
  height: 100%;
  align-items: center;
}

/*------------  Scroll Properties  ------------*/
.hidden {
  position: relative;
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  position: relative;
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: 1.5s;
}

.reveal {
  position: relative;
  opacity: 0;
}

.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}

.active.fade-left {
  animation: fade-left 1s ease-in;
}

.active.fade-right {
  animation: fade-right 1s ease-in;
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.reveal.active {
  opacity: 1;
}

/*------------  Navbar CSS Styling  ------------*/
@media screen and (max-height: 450px) {
  .navbar {
    padding-top: 15px;
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 0%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  transition: 0.5s;
  background-color: var(--heavyblue);
}

.menubutton {
  position: fixed;
  margin-left: 1.5%;
  font-size: x-large;
}

.wrapper {
  transform: translate(-50%, -50%);
}

.link_wrapper {
  position: relative;
}

.abut {
  display: block;
  width: 50px;
  border-radius: 50px;
  line-height: 50px;
  font-weight: bold;
  text-align: center;
  transition: all 0.35s;
  background-color: var(--heavyblue);
}

.icon {
  visibility: hidden;
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: 2s;

}

.icon svg {
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: var(--gold);
  transition: 1s;
}

.icon svg:hover {
    transition: 1s;
}

.abut:hover {
  width: 100px;
  border: 3px solid var(--gold);
  border-radius: 400px;
  color: var(--gold);
  transition: all 1s;
}

.abut:hover + .icon {
  visibility: visible;
  border: 3px solid var(--gold);
  right: -45%;
  transition: ease-in .35s;
}

.options {
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: center;
  align-items: center;
}

.options a {
  text-decoration: none;
  margin: 25%;
  width: max-content;
  text-align: center;
}

.options a:visited {
  text-decoration: none;
  color: var(--mint);
}

.navcon {
  color: white;
  font-size: x-large;
}

.navbut {
  visibility: collapse;
}

/*------------  Homepage Section Styling  -------------*/
.homepage {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
}

.title h1 {
  font-size: 100px;
  color: var(--gold);
  font-family: "Caramel", curisve;
}

.title p {
  color: var(--lightblue);
  margin-top: 20%;
}

.name {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  font-size: 60px;
}

@keyframes name {
  0%,
  60%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

@keyframes up {
  to {
    transform: rotate(360dg);
  }
}

@keyframes down {
  to {
    transform: rotate(0deg);
  }
}

.l {
  display: inline-block;
  animation: name 2s;
  animation-delay: calc(0.1s * var(--i));
}

.name span {
  transition: transform 1550ms;
}
.name span:hover {
  transform: translateY(-20px);
  animation: name 2s;
}

.homepage h2 {
  position: relative;
}
/*------------  Welcome Section Styling  ------------*/

.welcome {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  place-items: center;
  margin-top: 100px;
}
/*------------  Projects Section Styling  ------------*/

#psections {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.projecthead {
  background-color: gray;
  padding: 10px;
  border-radius: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.projects {
  margin: 100px;
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items:center;
  height: 100%;

}

.projectcard {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0px 30px 60px 30px;
    align-items: center;
    padding: 15px 30px 30px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #25282b;
    transition: all 0.5s ease-out;
    user-select: none;
}


.movie-poster-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 15px var(--l_grey);
  border-radius: 20px;
  overflow: hidden;
  object-fit: contain;
  margin: 20px;
}

.movie-poster-container img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.blank-result-card {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  box-shadow: 0px 0px 15px #25282b;
  transition: all 0.5s ease-out;
  position: relative;
  margin-bottom: 20px;
}

.blank-result-card:hover {
 cursor: pointer;
 background-color: gold;
 transition: all 4s;;
}


.cards {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 30px;
}

.cards h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-----About Me------*/
.formats {
  display: flex;
  justify-content: center;
}
.abm {
  margin-top: 200px;
  display: flex;
  box-shadow: 0px 0px 15px #25282b;
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px;
  min-height: 400px;
  width: 75%;
}

.bio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: x-large;
}

.abmhead {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 30px;
  border-right: 5px solid var(--lightblue);
}