/*  Importing varous fonts from google  */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Playfair+Display+SC&display=swap');
:root {
    --heavyblue: #2E3047;
    --mediumblue: #3C3F58;
    --lightblue: #707793;
    --mint: #3bba9c;
    --gold: #ffd700;
    --main: #43455c;
}

/*  Basic Styling and Layout  */
html {
    height: 100%;
}

body {
    color: white;
    background-color: var(--mediumblue);
    font-family: 'Quicksand', sans-serif;
    height: 100%;
}

main {
    margin-left: 15%;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

/*  Navbar CSS Styling  */
.navbar {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    transition: 0.5s;
    padding-top: 60px;
    background-color: var(--heavyblue);
}

.options {
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: center;
    align-items: center;
}

.options a {
    text-decoration: none;
    margin: 25%;
    width: max-content;
    text-align: center;
}

.options a:visited {
    text-decoration: none;
    color: var(--mint);
}

.navcon {
    color: white;
    font-size: x-large;
}

/*  About Me Section Styling */
.aboutme {
    font-family: 'Playfair Display SC', serif;
    width: 50%;
    background-color: var(--lightblue);
    height: 500px;
}